body{
	background-image: url(./img/bodycolor.jpeg);
}
.jumbotron{
	background-image: url(./img/header.jpeg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
label{
	font-size: 1.5rem;
}
.analysis{
	margin-top: 20px;
}
.analysisresult{
	margin-top: 40px;
}
.search{
	margin-top: 40px;
}
.searchresult{
	margin-top: 10px;
}